<nav>
  <ul id="nav">
    <!-- need this to remove space between inline block elements -->
  	<li><%= link_to "Home", root_path %></li
    ><li><%= link_to "Events", events_path %></li
    ><li><%= link_to "Members", members_path %></li
    ><li><%= link_to "Contact", contact_path %></li
    ><li><%= link_to "Upload", upload_path %></li>
  </ul>
</nav>